@charset "utf-8";
@import 'src/js/css/core/base.scss';

// 游戏主页
.xxyGames{

}
.xxyGameList-page{
    width: 750;
    position: relative;
}
.xxyGamePage{
    @include xxyPosition(0,0,0,0,absolute);
    display: flex;
}


// 游戏详情
.xxyGD_top{

}
.xxyGD_main{
    @include xxyPadding(20,20,20,20);
}
// 游戏图标名称
.xxyGD_admin{
    @include xxyPadding(20,10,0,0);
    // background-color: red;
}
// 通知条
.xxyGD_notcie{
    @include xxyPadding(15,15,20,20);
}
// 游戏简介
.xxyGDC_tex{
    @include xxyPadding(0,20,20,20)
}
// 游戏截图
.xxyGDS_boxs{
    width: 750px;
    // justify-content: space-between;
    flex-wrap: wrap;
    @include xxyPadding(0,4,12,12);
}
.xxyGDS_box{
    @include xxyWH(225px,225px);
    // margin-bottom: 16;
    @include xxyMargin(0,16,8,8);
}

// 游戏动态


// 游戏公告
