@charset "utf-8";
@import 'src/js/css/core/base.scss';

.xxyHome{
    
}
.xxyHome-list{
    position: fixed;
    top: 114px;
    bottom: 90px;
    left: 0;right: 0;

}
.xxyHome_main{
    position: fixed;
    left: 0;right: 0;top: 0;bottom: 0;
    padding-top: 114px;
    padding-bottom: 90px; 
}