@charset "utf-8";
@import 'src/js/css/core/base.scss';

.xxyHome-list{
    flex: 1;
    flex-direction: row;
    // background-color: #3bb5fc;
}
.xxyHomeList-page{
    width: 750px;
    position: relative;
}
.xxyHomePage{
    @include xxyPosition(0,0,0,0,absolute);
    display: flex;
}
.xxyHomePageScro{
    flex: 1;
    flex-direction: column;
}
.xxyHPS1{
    background-color: red;
}
.xxyHPS2{
    background-color: purple;
}
.xxyHPS3{
    background-color: greenyellow;
}