@charset "utf-8";

.iconfont {
    font-family: iconfont;
}
// app通知栏高度
.app-notice{
    width: 750;height: 40;
    background-color: #148bc8;
}

// 背景统一类
.xxy_wrapper{
    background-color: #f4f3f3;
}

// 新秀游特有类

$xxyColor: #148bc8;
$xxyColorHover: #3bb5fc;

// 基本色#333
$xxyColor333: #333;
// 基本浅灰色
$xxyColor999: #999;

.xxyColor{
    color: $xxyColor;
}
.xxyColorActive{
    color: $xxyColorHover;
}
.xxyColorfff{
    color: #ffffff;
}
.xxyColor333{
    color: $xxyColor333;
}
.xxyColor535{
    color: #535353;
}
.xxyColor7f7{
    color: #7f7f7f;
}
.xxyColor999{
    color: $xxyColor999;
}
// 白色背景
.xxyBgfff{
    background-color: #ffffff;
}
// 新秀游模拟阴影 -全
.xxyBoxShaow-small{
    @include border-all(#efefef,solid,2)
}
// 新秀游模拟阴影 -部
@mixin xxyBoxShaow-small-bf($direction: top){
    @include border($direction,#efefef,solid,2)
}



// 新秀游游戏板块
.xxyGameBox{
    background-color: #ffffff;
    margin-bottom:20;
}
// -新秀游游戏展示图
.xxyGb_pic{
    @include xxyWH(750px,298px)
}
// -新秀游游戏信息
.xxyGb_msg{
    @include xxyPadding(10px,10px,10px,10px)
}
.xxyGb_name{
    font-size: 32px;
    font-weight: bold;
    color: $xxyColor333;
}
.xxyGb_score{
    display: flex;
    @extend .flex-row-start;
}
.xxyGbs_star{
    width: 150px;height: 24px;
}
.xxyGbs_num{
    font-size: 28px;
    color: $xxyColor999;
    margin-left: 10px;
}

// 新秀游顶部tab切换

// 新秀游常规按钮
.xxybtn{
    color: #ffffff;
    background-color: #148bc8;
    @include xxyPadding(0,0,20,20)
}

// 新秀游主要板块类 全面屏
.xxyMain_hasDh_hasRout{
    @include xxyPosition(0,0,0,0,fixed);
    @include xxyPadding(140,90,0,0);
    @extend .flex-column;
}
.xxyMain_hasDh{
    @include xxyPosition(0,0,0,0,fixed);
    @include xxyPadding(140,0,0,0)
}




