@charset "utf-8";

.iconfont {
    font-family: iconfont;
}
// app通知栏高度
.app-notice{
    width: 750;height: 40;
    background-color: #148bc8;
}
//  导航栏高度
.dhHeight{
    height: 103px;
}


// 背景统一类
.xxy_wrapper{
    background-color: #f4f3f3;
}

// 新秀游特有类

$xxyColor: #148bc8;
$xxyBgColor: #148bc8;
$xxyColorHover: #3bb5fc;

// 基本色#333
$xxyColor333: #333;
// 基本浅灰色
$xxyColor999: #999;

.xxyColor{
    color: $xxyColor;
}
.xxyColorActive{
    color: $xxyColorHover;
}
.xxyColorfff{
    color: #ffffff;
}
.xxyColor333{
    color: $xxyColor333;
}
.xxyColor535{
    color: #535353;
}
.xxyColor7f7{
    color: #7f7f7f;
}
.xxyColor999{
    color: $xxyColor999;
}
// 白色背景
.xxyBgfff{
    background-color: #ffffff;
}
// 新秀游背景
.xxyBgColor{
    background-color: $xxyBgColor;
}
// 新秀游模拟阴影 -全
.xxyBoxShaow-small{
    @include border-all(#efefef,solid,2)
}
// 新秀游模拟阴影 -部
@mixin xxyBoxShaow-small-bf($direction: top){
    @include border($direction,#efefef,solid,2)
}

// 新秀游游戏主图
.xxyGameMain_pic{
    @include xxyWH(750px,298px)
}
// 新秀游游戏图标
@mixin xxyGameIcon($w){
    width: $w;
    height: $w;
    border-radius: $w*0.2125;
}
.gameIcon100{
    @include xxyGameIcon(100);
}


// 新秀游顶部tab切换

// 新秀游常规按钮
.xxybtn{
    color: #ffffff;
    background-color: #148bc8;
    @include xxyPadding(0,0,20,20)
}

// 新秀游主要板块类 全面屏
.xxyMain_hasDh_hasRout{
    @include xxyPosition(0,0,0,0,fixed);
    @include xxyPadding(140,90,0,0);
    @extend .flex-column;
}
.xxyMain_hasDh{
    @include xxyPosition(140,0,0,0,fixed);
}

// 新秀游标题板块 初步
.xxyTitle{
    @extend .flex-row-between;
    @include xxyPadding(20,20,20,20);
}




