@import 'src/js/css/core/base.scss';
.xxyTabScro{
    display: flex;
    height: 60px;
    background-color: #ffffff;
}
.xxyTabBox{
    display: flex;
    flex: 1;
}
.xxyTabBox-on{
    @include border (bottom,#148bcb,solid,1);
}
.xxyTabBox-default{
    @include border (bottom,#FFFFFF,solid,1);
}
.xxyTabBox-items{
    font-size: 28px;
    color: #999999;
}
.xxyTabBoxItems-on{
    color: #148bc8;
}
.scroll-arrow{
    width: 40px;
    height: 40px;
}